@charset "UTF-8";

* {
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url('../imagens/pexels-maksgelatin-5995230.jpg') no-repeat;
    background-size: cover;
    
}

#formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.877);
    width: 400px;
    height: 280px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    transform: translate(-50%, -50%);
    
}

#formulario > h2 {
    padding: 10px;
    text-align: center;
}

#dados {
    padding: 10px 20px;
    font-size: 1.3rem;

}

#dados > input {
    width: 250px;
    height: 30px;
}

#fahr {
    display: block;
    text-align: center;
    padding-left: 20px;
    font-size: 1.3rem;
}

#fahr > p {
    width: 100%;
}

#btn {
    display: flex;
    margin: auto;
}

#btn > input[type=submit] {
    display: inline-block;
    margin: auto;
    background-color: rgba(182, 180, 180, 0.747);
    padding: 6px 50px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#btn > input[type=submit]:hover {
    background-color: rgba(109, 109, 109, 0.774);
    transition-duration: .3s;
}

#btn > input[type=reset] {
    display: inline-block;
    margin: auto;
    background-color: rgba(182, 180, 180, 0.747);
    padding: 6px 50px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#btn > input[type=reset]:hover {
    background-color: rgba(109, 109, 109, 0.774);
    transition-duration: .3s;
}

#res {
    display: inline-block;
    background-color: white;
    margin: 7px 20px;
    width: 358px;
    height: 30px;
    border: 1px solid black;
}
